<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1> Welcome to Home page </h1>
    <form action="/email", method="POST">
        Enter Recivers Email id
        <input type="text" placeholder="Reciver's email" name='to_email' id="to_email" required><br><br>
        Enter the Message <input type="text" placeholder="Message" name="message" id="message" required><br><br>
        <button type="submit" class="registerbtn">Submit</button>
       
    </form>



</body>
</html>