<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <center>
        <br><br><br><br>
    <form action="/otp", method="POST">
        
        <input type="text" placeholder="Verify Mobile" name="mobile" id="mobile" required><br><br>
        <input type="text" placeholder="Enter OTP" name="otp" id="otp" required><br><br>
        
        <button type="submit" class="registerbtn">Submit</button>
        
    </form>
    </center>


</body>
</html>